category-rain {
    background-image: url('path-to-rain-image.jpg');
  }
category-jungle {
    background-image: url('path-to-rain-image.jpg');
  }
category-ocean {
    background-image: url('path-to-rain-image.jpg');
  }
category-whale {
    background-image: url('path-to-rain-image.jpg');
  }
category-starry {
    background-image: url('path-to-rain-image.jpg');
  }
category-hymn {
    background-image: url('path-to-rain-image.jpg');
  }
category-bird {
    background-image: url('path-to-rain-image.jpg');
  }
category-lofi {
    background-image: url('path-to-rain-image.jpg');
  }
category-noise {
    background-image: url('path-to-rain-image.jpg');
  }
