@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #e3b268;
}

.category-rain {
  background-image: url('../../Images/rain.jpg');
}
.category-jungle {
  background-image: url('../../Images/jungle.jpg');
}
.category-ocean {
  background-image: url('../../Images/ocean.jpg');
}
.category-whale {
  background-image: url('../../Images/Whale.jpg');
}
.category-starry {
  background-image: url('../../Images/starrynight.jpg');
}
.category-hymn {
  background-image: url('../../Images/hymns.jpg');
}
.category-bird {
  background-image: url('../../Images/Bird.jpg');
}
.category-lofi {
  background-image: url('../../Images/Lofisleep.jpg');
}
.category-noise {
  background-image: url('../../Images/noise.jpg');
}

h3,h2,nav, main {
  color: whitesmoke;
}

h1 {
  font-style: italic;
  text-align-last: right;
}